commands:
  daemon_cli: './tha-cli'
logging:
  level: 'info'
rpc:
    host: 127.0.0.1:8441
    user: daemon_rpc_user
    password: daemon_rpc_password
    wallet_name: your_wallet_name_in_the_daemon #optional - exclude it if you use only 1 loaded wallet
auto_runner:
    addresses_file: ""
    addresses_count: 600
    utxos_interval: 2 #interval to run the utxo create in minutes
    utxos_fee: 0.001
    consolidate_min_utxos: 50 #minimum utxos required to consolidate them
    consolidate_interval: 1440 #interval to run consolidate
    max_hashrate: 300000 #the max hashrate to stop at
    extra_hashrate_address: "" #the address where the funds greater than 0.3 THA should be sent when max_hashrate is reached
